<mat-toolbar color="'warn'">
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Glamour Shop</span>
      <span class="w-100"></span>
      <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Account Settings</button>
        <button mat-menu-item (click)="Logout()">Logout</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side" opened role="navigation">
      <ul class="list-group">
        <mat-nav-list>
          <li class="list-group-item" *ngFor="let brand of brands" (click)="onProductClick(brand[1],brand[0])"><a mat-list-item >{{brand[1]}}</a></li>
      </mat-nav-list>
    </ul>
    </mat-sidenav>
    <mat-sidenav-content>
  
      <div class="container">
      <div class="row">
        <div class="col-sm"  *ngFor="let product of products">
          <div class="card">
            <h5 class="card-header text-center">{{product[1]}}</h5>
            <div class="card-body text-center">
              <div class="w-100 p-3">
              <img src="/api/dumbloads/{{product[6]}}?{{getCurrentTime()}}"/>
              
                
              </div>
              <div>
                Brand:{{selectedBrand}}<br><br>
                Item Name:{{product[1]}}<br><br>
                <button mat-button [color]="'warn'"> Buy</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>   

    </mat-sidenav-content>
  </mat-sidenav-container>