
  <div class="body">
  <div class="card">
    <h5 class="card-header text-center">Login</h5>
    <div class="card-body text-center">
      <div class="w-100 p-3">
      <div  [formGroup]="login" >
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="usr">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="psw" formControlName="psw">
        </mat-form-field>
        <button mat-button (click)="onSubmit()">submit</button>
        <div class="mt-4">
          <button mat-button class="text-left">Sign up</button> 
          <button mat-button>Admin Login</button>
        </div>

      </div>
      </div>
    </div>
  </div>
</div>