
  <div class="body">
    <div class="card">
      <h5 class="card-header text-center">User Creation</h5>
      <div class="card-body text-center">
        <div>
          <div class="w-100 p-3">
            <form [formGroup]="createUser">
              <mat-form-field appearance="fill" > 
                <mat-label>User Name</mat-label>
                <input matInput formControlName="u_name">
                <mat-hint>Enter the User Name</mat-hint>
              </mat-form-field><br>
          <mat-form-field appearance="fill" > 
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-hint>Enter the Email</mat-hint>
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="psw">
            <mat-hint>Enter the Password</mat-hint>
          </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="f_name">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="l_name">
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput formControlName="age">
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone">
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput formControlName="add">
          </mat-form-field><br>
        </form>
        <button type="submit" [disabled]="!createUser.valid" mat-button (click)="Submit()">Submit</button>
        </div>
        </div>
      </div>
    </div>
  </div>
























