
  <div class="body">
    <div class="card">
      <h5 class="card-header text-center">User Creation</h5>
      <div class="card-body text-center">
        <div>
          <div class="w-100 p-3">
          <mat-form-field appearance="fill"> 
            <mat-label>Email</mat-label>
            <input matInput>
            <mat-hint>Enter the Email</mat-hint>
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput>
            <mat-hint>Enter the Password</mat-hint>
          </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput>
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput>
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input matInput>
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput>
          </mat-form-field><br>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button class="mb-2 mr-2 " value="1">Admin</mat-radio-button>
            <mat-radio-button value="2">Customer</mat-radio-button>
          </mat-radio-group><br>
          <button mat-button>Submit</button>
        </div>
        </div>
      </div>
    </div>
  </div>
























