
.body {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-image: url('../../assets/images/695765.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

}
.card{
    max-width: 30%;
    margin-top: 7%;
 
    
    margin-left: 50%;
    opacity: 0.8;
}
.mat-form-field {
    width: 100%;
    }